USE [master]
GO
/****** Object:  Database [McDonalds]    Script Date: 9/12/2016 7:27:15 PM ******/
CREATE DATABASE [McDonalds]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'McDonalds', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\McDonalds.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'McDonalds_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\McDonalds_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [McDonalds].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [McDonalds]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/12/2016 7:27:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](20) NOT NULL,
	[DateOfHire] [date] NOT NULL,
	[Position] [text] NOT NULL,
	[Pay] [float] NULL DEFAULT ('7.25')
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FoodSupplies]    Script Date: 9/12/2016 7:27:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FoodSupplies](
	[Name] [char](10) NOT NULL,
	[Amount] [float] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Expiration] [date] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pay]    Script Date: 9/12/2016 7:27:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pay](
	[Name] [char](20) NOT NULL,
	[HoursWorked] [float] NOT NULL,
	[PayPerHour] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
